body {
    background: #ffffff;
    background-image: url("../images/concrete_seamless.png");
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    color: rgb(116, 116, 116);
    margin: 2rem 0 auto;
}

.btns-div {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.btn {
    margin: 4px;
    background-color: rgb(116, 116, 116,0.85);
}

.btn:first-child {
    margin-left: 0;
}

.btn:last-child {
    margin-right: 0;
}

.user-input-label {
    color: rgb(116, 116, 116);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(116, 116, 116,0.9);
    color:rgb(245, 245, 245,0.85);
    font-size: 0.8rem;
}